train_dataset:
  dataset:
    name: paired-image-folders
    args:
      root_path_1: /cluster/pixstor/xudong-lab/biplab/CryoPPP_dataset/Few_shots/5_shot/10017/train/images/
      root_path_2: /cluster/pixstor/xudong-lab/biplab/CryoPPP_dataset/split_mask_data/0.5/10017/
      cache: none
      split_key: train
  wrapper:
    name: train
    args:
      inp_size: 1024
      augment: false
  batch_size: 2
val_dataset:
  dataset:
    name: paired-image-folders
    args:
      root_path_1: /cluster/pixstor/xudong-lab/biplab/CryoPPP_dataset/Few_shots/5_shot/10017/valid/images/
      root_path_2: /cluster/pixstor/xudong-lab/biplab/CryoPPP_dataset/Few_shots/5_shot/10017/valid/labels/
      cache: none
      split_key: test
  wrapper:
    name: val
    args:
      inp_size: 1024
  batch_size: 1
test_dataset:
  dataset:
    name: paired-image-folders
    args:
      root_path_1: /cluster/pixstor/xudong-lab/biplab/CryoPPP_dataset/10017/test/images/
      root_path_2: /cluster/pixstor/xudong-lab/biplab/CryoPPP_dataset/10017/test/labels/
      cache: none
      split_key: test
  wrapper:
    name: val
    args:
      inp_size: 1024
  batch_size: 1
eval_type: cryoppp
sam_checkpoint: /mnt/pixstor/data/bpbx2/SAM-Adapter-2/pretrained/sam2_hiera_large.pt
data_norm:
  inp:
    sub:
    - 0.5
    div:
    - 0.5
  gt:
    sub:
    - 0.5
    div:
    - 0.5
  gt_rgb:
    sub:
    - 0.5
    div:
    - 0.5
model:
  name: sam
  image_size: 1024
  args:
    inp_size: 1024
    loss: bbce
    encoder_mode:
      name: sam
      img_size: 1024
      mlp_ratio: 4
      patch_size: 16
      qkv_bias: true
      use_rel_pos: true
      window_size: 14
      out_chans: 256
      scale_factor: 32
      input_type: fft
      freq_nums: 0.25
      prompt_type: highpass
      prompt_embed_dim: 256
      tuning_stage: 1234
      handcrafted_tune: true
      embedding_tune: true
      adaptor: adaptor
      embed_dim: 1024
      depth: 24
      num_heads: 16
      global_attn_indexes:
      - 5
      - 11
      - 17
      - 23
optimizer:
  name: adam
  args:
    lr: 0.0001
lr_min: 1.0e-07
epoch_max: 2500
multi_step_lr:
  milestones:
  - 1
  gamma: 0.1
epoch_val: 1
epoch_save: 1